.song-select-frame {
    width: 100%;
    height: 100%;
}

.song-select-frame::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 30%);
}

.song-select-back-button {
    height: 8%;
    aspect-ratio: 2.5;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;

    border-radius: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: calc(1vw + 1vh);
    font-weight: 600;

    transition: all 0.2s linear;

    top: 1%;
    left: 1%;
}

.song-select-back-button:hover {
    background-color: rgba(0, 0, 0, 1);
    font-size: calc(1.2vw + 1.2vh);
}

.song-select-song-player {
    position: fixed;
    bottom: 1%;
    right: 1%;
}

.song-select-scrollbox {
    transform: translateX(-15%);
    width: 50%;
    height: 90%;
    top: 10%;
    overflow: auto;
    position: absolute;

    scrollbar-color: white gray;
    scrollbar-width: thin;
}

.song-select-card-frame {
    color: white;
    border-radius: 100vw;
    height: auto;
    aspect-ratio: 3.5;
    margin: 2%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-position: 50% 50%;

    box-shadow: inset 0px 4px 4px #00000040, 0px 4px 4px #00000040;
    transition: all 0.2s linear;
}

.song-select-card-frame:hover{
    transform: scale(1.03);
}

.song-select-card-frame .inner-content {
    width: 66%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.song-select-card-frame .inner-content > *{
    flex-grow: 1;
}

.song-title {
    font-family: 'Roboto', sans-serif;
    padding: 1em;
    color: white;
    font-size: calc(1vw + 1vh);
    border-radius: 100vw;

    font-weight: 500;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    height: 0;
}

.song-details{
    font-family: 'Roboto', sans-serif;
    padding: 2%;
    color: white;
    font-size: calc(0.5vw + 0.5vh);
    border-radius: 100vw;

    font-weight: 300;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.active-text-selection{
    background-color: rgba(0, 0, 0, 0.5);
}

.inactive-frame{
    aspect-ratio: 4.5;
    transform: translateX(-3%);
    transform-origin: 150% 50%;
    box-shadow: none;
}

.inactive-frame::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100vw;
    background-color: rgba(0, 0, 0, 0.75);
}

.song-details-row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.map-details-song-select{
    height: 60vh;
    width: 42.5vh;
    max-width: 50%;

    position: fixed;
    right: 1%;
    top: 10%;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: calc(1vw + 1vh);

    display: flex;
    flex-direction: column;
    text-align: center;
}

.map-details-song-select>*{
    margin-top: 5%;
}

.map-details-song-select .black-bg{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: calc(1vw + 1vh);
}

.map-details-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.map-details-song-select .black-bg>*{
    margin: 2%;
}

.map-details-song-select .black-bg .start-button{
    font-family: 'Roboto', sans-serif;
    font-size: calc(1vw + 1vh);
    font-weight: 300;
    border: none;
    background-color: gold;
    border-radius: 100vw;
    height: calc(2vw + 2vh);
    width: 100%;
}

.diff-button{
    height: calc(2vw + 2vh);
    aspect-ratio: 1;
    border: none;
    border-radius: 100vw;
    background-color: transparent;
    border: calc(0.2vw + 0.2vh) solid gold;
    color: gold;

    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    font-size: calc(0.5vw + 0.5vh);
}

.diff-button-active{
    background-color: gold;
    color: white;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.diff-selection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.best-score-text{
    font-weight: 100;
    font-size: calc(0.75vw + 0.75vh);
    color: white;
    padding: 5%;
}

.best-score-row{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    color: gold;
    font-size: calc(0.5vw + 0.5vh);
    font-weight: 300;
}

.best-score-row>*{
    flex-grow: 1;
}

.best-score-row>*>*{
    padding: 3%;
}

.actual-score-text{
    font-size: calc(0.9vw + 0.9vh);
}